version: "3.7"
services:
  web:
    build:
      dockerfile: Dockerfile
    restart: always
    ports:
     - "5001:5001"
    depends_on:
      - redis
  redis:
    image: redis:alpine
    ports:
      - "6379:6379"